
.Consulta_Sensores {
  background-color: #17242E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 1vmin);
  color: #4A8260;
}
#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #sensors {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 2px solid #3C3D33;
    border-radius: 9px;
    width: 90%;
  }
  
  #sensors td, #sensors th {
    border: 1px solid #3C3D33;
    border-radius: 3px;
    padding: 8px;
  }
  
  #sensors tr:nth-child(even){background-color: #3C3D33}
  
  #sensors tr:hover {
    background-color: #449fb8;
    color: #3C3D33;
    border-radius: 3px;
    }
  
  #sensors th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4A8260;
    color: #3C3D33;
    border-radius: 3px;
  }