.Consulta_Actuadores {
    background-color: #17242E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(5px + 1vmin);
    color: #4A8260;
  }