.Crear_Controlador {
    background-color: #17242E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #4A8260;
  }
.containerPrincipal {
    position: absolute;
      left: 50%;
      top: 55%;
      transform: translate(-50%, -50%);
      border: 1px solid #4A8260;
      padding: 40px;
      background-color: #3C3D33;
      border-radius: 10px;
  }
  
  .containerSecundario{
    text-align: center;
  }

  .form-group{
    font-size: 20px;
  }
  .form-control{
    background-color: #17242E;
    color: #4A8260;
    border-radius: 5px;
    height: 20px;
  }