.navbar {
    background-color: #3C3D33;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;              
    font-weight: bold;
    color: #4A8260;
    max-height: 60px;
    box-shadow:  1px -4px 16px 20px rgba(0,0,0,0.2), inset -2px -4px 5px 0px rgba(0,0,0,0.19);
    }

  .App-logo-navbar{
    height: 35px;
    width: 40px;
    }