.btn-primary {
    color: rgba(255, 231, 196, 0.699);
    background-color: #4A8260;
    border: none;
    border-radius: 6px;
    height: 25px;
    box-shadow:  -6px 20px 16px 20px rgba(0,0,0,0.2), inset -2px -4px 5px 0px rgba(0,0,0,0.19);
  }
   
  .btn-primary:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .btn-primary:hover {
    background-color: #4c85bb; /* Green */
    color:  rgba(255, 231, 196, 0.699);
    padding-right: 25px;
  }