.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}


.App-header {
  background-color: #17242E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4A8260;
}

.App-link {
  color: #449fb8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
